<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>393677487406-huociebg11kd0koc81mnmljg1883eo1l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.393677487406-huociebg11kd0koc81mnmljg1883eo1l</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>393677487406-qkvkv1qe1ioqcoh3obvtht0m49mcbebi.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDZxEZCAdTwanPW3k32BqireLw07wpqu1I</string>
	<key>GCM_SENDER_ID</key>
	<string>393677487406</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.venni.staging.riderapp</string>
	<key>PROJECT_ID</key>
	<string>venni-rider-staging</string>
	<key>STORAGE_BUCKET</key>
	<string>venni-rider-staging.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:393677487406:ios:a3b6ec6b8f16359bc34ebf</string>
	<key>DATABASE_URL</key>
	<string>https://venni-rider-staging-default-rtdb.firebaseio.com</string>
</dict>
</plist>